# Concat DataFrame 
------------
       Concat is very useful method of pandas.You can concatanate two dataframes in two way -
          1)Append by row
          2)Append by col
  
## Append by row :
       Concat is the method of pandas in which you can join two and more dataframes provided its indices are same.
       Let's take an example -
       You have two dataframes of weathers of two cities Kolkata and Chennai,
       
   <code> df=pd.concat([dataframe_1,dataframe_2,...,dataframe_n]) </code>
       for n number of dataframes,

In [1]:
import pandas as pd

In [2]:
chennai={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['hot','sunny','rainy','cold'],
      "wind-speed":[33,23,45,24],
      "temp":[20,21,15,18]
}
chen=pd.DataFrame(chennai)
chen

       date  event  wind-speed  temp
0  01-02-12    hot          33    20
1  03-02-12  sunny          23    21
2  04-02-12  rainy          45    15
3  05-02-12   cold          24    18

In [3]:
kolkata={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
      "temp":[14,16,15,10]
}
kol=pd.DataFrame(kolkata)
kol

       date  event  wind-speed  temp
0  01-02-12  sunny          12    14
1  03-02-12   cold          10    16
2  04-02-12   cold           9    15
3  05-02-12  rainy          14    10

In [ ]:
df=pd.concat([kol,chen])
df

  **You can observe the index first 0 to 3 then again 0 to 3.To ignore this you have to pass an extra argument.**

In [ ]:
df=pd.concat([kol,chen],ignore_index=True)
df
# Now see index column

##### If you want to join dataframes with dataframe name as an index name

In [ ]:
df=pd.concat([kol,chen],keys=['Kolkata','Chennai'])
df

In [ ]:
df.loc['Kolkata']

In [ ]:
df.loc['Chennai']

## Append by column :
    if you have two dataframes and you want to append column wise. For example - if you have two dataframes of weather
    first dataframe having columns date,event & temp and second dataframe having columns date,event & wind-speed when you
    join both you will get one dataframe having columns date, event, temp, date, event and wind-speed.
    To join two dataframe column wise
    you have to pass axis=1 in concat() method.
    
   <code> df=pd.concat([dataframe_1,dataframe_2,...,dataframe_n],axis=1) </code>

In [ ]:
temp1={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "temp":[14,16,15,10]
}
temp=pd.DataFrame(temp1)
temp

In [ ]:
ws={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
}
wind_speed=pd.DataFrame(ws)
wind_speed

In [ ]:
df=pd.concat([temp,wind_speed],axis=1)
df

# Merging dataframes 
-------
    merge() is a method in pandas in which you can merge two dataframes withou repeating columns as we did in
    concat() method.
    There are two types of merging -
       1) Inner join
       2) outer join
 ## Inner join
    In this method you will get the intersetion of two dataframes with merged column.It is the default merge method.
    In merge() method you have to pass the dataframes as arguments and list of columns on which you want to merge
    and dataframes as arguments.

In [ ]:
import pandas as pd

In [ ]:
temp1={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "temp":[14,16,15,10]
}
temp=pd.DataFrame(temp1)
temp

In [ ]:
ws={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
}
wind_speed=pd.DataFrame(ws)
wind_speed

In [ ]:
df=pd.merge(temp,wind_speed,on=['date','event'])
df

    If you have different data in the common columns then you can not do inner merge in this case.
    Assume the following case:
    
      temp                                
      ___________________
     | event  |   temp   |
     |--------|----------|
     | sunny  |   40     |
     | hot    |   30     |
     | rainy  |   25     |
     |________|__________|
     
     wind-speed
      ___________________
     | event  |wind-speed|
     |--------|----------|
     | sunny  |   12     |
     | hot    |   14     |
     | hot    |   11     |
     |________|__________|
     
     Merged Dataframe by inner method
     
      ________________________________
     | event  |   temp   | wind-speed |
     |--------|----------|------------|
     | sunny  |   40     |     12     | 
     | hot    |   30     |     14     |
     |________|__________|____________|
     
     You can see that last row is not merged here because there is no common element in the common columns.

## Outer join
This is just like union of two dataframe. Non existing values will contain NaN.                               
     

     temp                                
      ___________________
     | event  |   temp   |
     |--------|----------|
     | sunny  |   40     |
     | hot    |   30     |
     | rainy  |   25     |
     |________|__________|
     
     wind-speed
      ___________________
     | event  |wind-speed|
     |--------|----------|
     | sunny  |   12     |
     | hot    |   14     |
     | hot    |   11     |
     |________|__________|
     
     Merged Dataframe by inner method
     
      ________________________________
     | event  |   temp   | wind-speed |
     |--------|----------|------------|
     | sunny  |   40     |     12     | 
     | hot    |   30     |     14     |
     | rainy  |   25     |     NaN    |
     | hot    |   NaN    |     11     |
     |________|__________|____________|
     
     You can see in the final dataframe two rows increased.

In [ ]:
temp1={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','hot','sunny'],
      "temp":[14,16,15,10]
}
temp=pd.DataFrame(temp1)
temp

In [ ]:
ws={
      "date":['01-02-12','03-02-12','04-02-12','05-02-12'],
      "event":['sunny','cold','cold','rainy'],
      "wind-speed":[12,10,9,14],
}
wind_speed=pd.DataFrame(ws)
wind_speed

##### One extra argument you need to pass in outer join i.e, how="outer".By defaut it is inner.

In [ ]:
df=pd.merge(temp,wind_speed,on=['date','event'],how='outer')
df