# DataFrame Object

DataFrame is the a main object in pandas.It is used to represent data with rows and columns(tabular or excel spreadshee like data)

In [1]:
#Imprting pandas module
import pandas as pd

In [2]:
#we have seen how to read CSV or Excel data...
d=pd.read_csv('../DATA/weather.csv')
#print dataframe "d"
d.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

### Creating DataFrames from NumPy Arrays
* we can also create DataFrames from Arrays:

In [3]:
import numpy as np
# Creating a 2 dimensional numpy array
data= np.array([[ 5.8,2.8], [ 6.0,2.2]])
print(data)

[[5.8 2.8]
 [6.  2.2]]

In [4]:
#Creating pandas dataframe from numpy array
dataset = pd.DataFrame({'Column1':data[:,0],'Column2':data[:,1]})
print(dataset)

   Column1  Column2
0      5.8      2.8
1      6.0      2.2

### Exporting  DataFrames to NumPy Arrays
* we can also get an array from a DataFrame

In [5]:
dataset.values

array([[5.8, 2.8],
       [6. , 2.2]])

### Creating DataFrames with dictionaries
  * You can also create DataFrame with python dsctionary very easily.
  * You just need to call DataFrame() function and pass the disctionary as a argument in the function.
  * <b>Note:</b> Notice one thing that i have taken all the columns of same length because you can not make dataframe object if your disctionary has variable column length

In [ ]:
#Creatiing my own disctionary
mydict={
         'dates':['02-01-12','03-01-12','04-01-12','05-01-12','06-01-12'],
         'day':['sunny','rainy','hot','sunny','hot'],
         'wind-speed':[12,34,45,56,67],
         'temp':[45,46,47,48,49]
       }
#Converting disction to dataframe object
df=pd.DataFrame(mydict)

#Printing the dataframe
df

### Shape of the dataframe
  * <b>df.shape :</b> It will return a tuple (rows,columns)

In [ ]:
df.shape

### Accessing columns :
 * What if you want to print only two columns

In [ ]:
df[['day','temp']]

### Statistics of your dataframe
 * You can see the statistics of your dataframe by calling describe() function
 * It will print count of the columns,mean,SD,min,max etc..

In [ ]:
d.describe()

### Condition:
 * To get dataframe where temperature is greater than 9

In [ ]:
d1=d[d['Temperature (C)']>9]
d1

In [ ]:
#How many rows and columns are there in 'd1'?
d1.shape

### Changing Index
 * Pandas has its own indexing by default from 0 to row no 
 * We can also reset its index by set_index() function

In [ ]:
df.index

In [ ]:
df.set_index('dates',inplace=True)

In [ ]:
df.index

In [ ]:
df

#### Now we can find the specific value rows

In [ ]:
df.loc['02-01-12']

In [ ]:
df.iloc[4]

In [ ]:
df.iloc[0:3]

In [ ]:
df.reset_index()